* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

.centratura {
    padding: 0 10%;
}

.fixedlogin {
    width: 100vw;
    height: 80px;
    background-color: #f4f9fd;
    border-bottom: 1px solid #000;
    position: fixed;
}

.blocchi::after {
    content: "";
    display: table;
    clear: both;
}

.colonne50 {
    width: 50%;
    height: 100px;
    float: left;
    /* debug */
    background-color: ;

}

.nav {
    background-color: green;
}

.colonna20{
    width: 20%;
    height: 100px;
    background-color: yellow;
    float: left;
}

.colonna80 {
    width: 80%;
    height: 100px;
    background-color: pink;
    float: left;
}
.colonne33 {
    width: calc(100% / 3);
    height: 100px;
    background-color: brown;
    float: left;
}

.colonne25 {
    width: calc(100% / 4);
    height: 100px;
    background-color: purple;
    float: left;
}
