* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.riga::after {
    content: "";
    display: table;
    clear: both;
}

.centratura {
    padding: 0 15%;
}
/* barra fissa in alto */
.menufixed {
    width: 100%;
    height: 80px;
    background-color: #f4f9fd;
    border-bottom: 1px solid #000;
    position: fixed;
    z-index: 999;
    line-height: 80px;
}

.englishlist {
    display: inline-block;
}

.search {
    float: right;
}
.navbar {
    float: right;
}

/* per 2 colonne */
.colonna20 {
    width: 20%;
    height: 80px;
    /* background-color:yellow; */
    float: left;
}

/* per due colonne non centrate */
.colonna80 {
    width: 80%;
    height: 80px;
    /* background-color: red; */
    float: left;
}

/* barra con logo */
.menunav {
    margin-top: 80px;
    width: 100%;
    height: 80px;
    background-color: #fff;
    margin-top: 80px;
    line-height: 80px;
}
/* per colonne centrate  */
.colonna50 {
    width: 50%;
    height: 80px;
    background-color:;
    float: left;
}

.imgjumbo {
    width: 100%;
    height: 500px;
    background-image: url('../img/jumbotron.png');
    background-size: contain;
    background-repeat:repeat;
    background-position: right;
}
main {
    background-color: #f4f9fd;
}
.imgcubo {
    width: 100%;
    height: 400px;
    text-align: center;
}

#cube {
    width: 300px;
    height: 250px;
    margin-top: 50px;
}

#cubetext {
    margin-top: 20px;
}

.box {
    width: 100%;
    height: 400px;
    background-color:#fff;
    border: 1px solid lightgrey;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 15px;
}

#crm {
    width: 150px;
    height: 150px;
    padding: 15px;
    margin-left: 100px;
    margin-top: 60px;
}
.crmicona h3 {
    text-align: center;
    margin-left: 120px;
}

.crmtesto {
    margin-left: 100px;
    margin-top: 100px;
}

.crmtesto p {

    margin-top: 20px;
}

#popolar {
    padding-top: 30px;
    font-weight: bold;
}


.colonne33 {
    width: calc(100% / 3);
    height: 100px;
    background-color: brown;
    float: left;
}

.colonne25 {
    width: calc(100% / 4);
    height: 100px;
    background-color: purple;
    float: left;
}
